@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optionnel : fond noir dès le départ */
body {
  background-color: #000;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.4s ease-in-out forwards;
}
